button {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  margin: 5px;
}

.btn_change {
  background-color: #4caf50;
  color: white;
}

.btn_delete {
  background-color: #f44336;
  color: white;
}

.count {
  float: right;
  padding: 5px;
  border-radius: 30%;
  background-color: lightgray;
}